# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env

django-front-react/.env
django-front-react/.env.production

django_rest_framework/.env
django_rest_framework/.env.production

django_rest_framework/db.sqlite3
django_rest_framework/projects/__pycache__
django_rest_framework/drfsimplecrud/__pycache__

django-front-react/node_modules
django-front-react/dist

postgres_data

